.productContainer {
  display: flex;
  width: 70%;
  margin: 0px auto;
  position: relative;
}

.left {
  display: flex;
  width: 40%;
}

.smallImageWrapper {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px rgb(200, 200, 200);
}

.smallImage {
  min-height: 100%;
  width: 100%;
  height: auto;
}

.addMore {
  width: 80px;
  height: 80px;
  background-color: #1e1e1e;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.productImageWrapper {
  aspect-ratio: 1/1.5;
  width: 20vw;
  height: fit-content;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgb(200, 200, 200);
}

.uploadFile {
  aspect-ratio: 1/1.5;
  width: 20vw;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  transition: all 0.5s ease;
}

.productImageWrapper {
  aspect-ratio: 1/1.5;
  width: 20vw;
  height: fit-content;
}

.productImageWrapper:hover .layer {
  opacity: 1;
  pointer-events: all;
}

.productImage {
  height: 100%;
  width: 100%;
}

.maintainRatio {
  height: 100% !important;
  width: auto !important;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.709);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* .adminButtonContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.adminButtonContainer button {
  background-color: white;
  color: #ff5b25;
  border: none;
  padding: 13px 10px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.addMore h1 {
  color: white;
  font-size: 40px;
  font-weight: 300;
} */

.right {
  margin-left: 50px;
  width: 60%;
}

.productTitle {
  font-size: 30px;
  font-weight: 300;
  color: #474747;
}

.productTitleInput {
  font-size: 30px;
  font-weight: 300;
  color: #474747;
  width: 100%;
  border: none;
  box-shadow: 0px 0px 5px 1px rgb(190 190 190);
  padding: 0 4px;
  border-radius: 5px;
  resize: none;
  font-family: "Poppins", sans-serif;
  outline: none;
}

/* .adminPriceContainer {
  display: flex;
  margin: 10px 0;
}
.adminPriceSubContainer {
  display: flex;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}

.adminPriceSubContainer h1 {
  font-size: 20px;
  font-weight: 300;
  color: #ff5b25;
}

.adminPriceSubContainer input {
  border: none;
  box-shadow: 0px 0px 3px 1px rgb(190 190 190);
  margin: 0 10px;
  border-radius: 3px;
  text-align: center;
  width: 100px;
  color: #474747;
  font-size: 20px;
  padding: 7px 0;
} */

.priceContainer {
  color: #474747;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.priceContainer h1 {
  font-size: 17px;
  font-weight: normal;
}

.actualPrice {
  text-decoration: line-through;
}

.discountPrice {
  font-size: 19px;
  font-weight: 600;
  color: #ff5b25;
}

.buttonContainer {
  display: flex;
}

.quantityContainer {
  box-shadow: 0px 0px 3px 1px rgb(190, 190, 190);
  padding: 3px 10px;
  border-radius: 3px;
  color: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currentQuantity {
  color: #ff5b25;
}

.plus,
.minus {
  cursor: pointer;
  background: none;
  border: none;
  /* border: 1px solid #ff5b25; */
  margin: 0 1px;
  font-size: 15px;
}

.button {
  color: white;
  background-color: #ff5b25;
  margin-left: 30px;
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.shortDesc {
  border-top: 1px solid #ff5b25;
  border-bottom: 1px solid #ff5b25;
  margin: 20px 0;
}

.shortDescPara {
  color: #474747;
  margin: 15px 0;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
}

/* .adminShortDescInput {
  color: #474747;
  margin: 15px 0;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgb(190, 190, 190);
  resize: none;
  font-family: "Poppins", sans-serif;
  width: 100%;
  border: none;
  font-size: 16px;
  outline: none;
} */

.descHeading {
  color: #474747;
}

.descPara {
  margin-top: 20px;
  color: #474747;
  white-space: pre-wrap;
}

/* .adminDescParaInput {
  width: 100%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #474747;
  outline: none;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 5px 1px rgb(190 190 190);
  border-radius: 5px;
  padding: 4px;
  margin-top: 20px;
  resize: none;
}

.adminActionButtonContainer {
  margin: 20px 0;
}

.adminActionButtonContainer button {
  margin-right: 20px;
  background-color: #ff5b25;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
} */

.edit {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 1px rgb(219, 219, 219);
  position: absolute;
  right: 0%;
  padding: 3px 5px;
  border-radius: 3px;
  color: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.edit i {
  color: #ff5b25;
  font-size: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 1600px) {
  .productContainer {
    width: 85%;
    margin: 20px auto;
  }

  .left {
    width: 36%;
  }
  .productImageWrapper {
    width: 23vw;
  }

  .productTitle {
    font-size: 25px;
  }
  .quantityContainer {
    font-size: 15px;
  }
  .button {
    font-size: 13px;
  }
}

@media screen and (max-width: 1350px) {
  .right {
    margin-left: 4%;
    width: 60%;
  }
  .productTitle {
    font-size: 23px;
  }
  .priceContainer h1 {
    font-size: 14px;
  }
  .discountPrice {
    font-size: 17px;
    font-weight: 500;
  }
  .shortDesc {
    margin: 10px 0;
  }
  .shortDescPara {
    font-size: 14px;
    margin: 10px 0;
    padding: 7px 7px;
  }
  .descPara {
    font-size: 14px;
  }
  .descHeading {
    font-size: 15px;
  }

  .smallImageWrapper {
    width: 65px;
    height: 65px;
  }
}

@media screen and (max-width: 1100px) {
  .productTitle {
    font-size: 20px;
  }

  .discountPrice {
    font-size: 16px;
    font-weight: 500;
  }
  .shortDesc {
    margin: 10px 0;
  }
  .shortDescPara {
    font-size: 13px;
    margin: 10px 0;
    padding: 7px 7px;
  }
  .descPara {
    font-size: 13px;
  }
  .descHeading {
    font-size: 14px;
  }
}

@media screen and (max-width: 1050px) {
  .left {
    width: 40%;
  }
  .productImageWrapper {
    width: 100%;
  }
  .productContainer {
    width: 90%;
  }
  .buttonContainer {
    flex-direction: column;
  }
  .quantityContainer {
    width: 160px;
    font-size: 13px;
  }
  .buttonSubContainer {
    width: 100%;
    display: flex;
    margin-top: 10px;
  }
  .button {
    margin: 0;
    min-width: 160px;
    margin-right: 10%;
    padding: 7px 0px;
    font-size: 13px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .productContainer {
    flex-direction: column;
    margin: 20px auto;
  }
  .left {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .productImageWrapper {
    width: 300px;
  }

  .imageContainer {
    display: flex;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1;
  }

  .smallImageWrapper {
    width: 30px;
    height: 30px;
    background-color: #1e1e1e;
  }

  .right {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }

  .buttonSubContainer {
    margin-top: 0;
  }

  .buttonContainer {
    flex-direction: row;
  }

  .button {
    margin-left: 10%;
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .productContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .button {
    margin-left: 5%;
  }
}

@media screen and (max-width: 560px) {
  .productContainer {
    width: 90%;
  }
  .buttonContainer {
    flex-direction: column;
  }
  .quantityContainer {
    width: 45%;
    font-size: 13px;
  }
  .buttonSubContainer {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }
  .button {
    margin: 0;
    min-width: 45%;
    padding: 12px 0px;
  }
}
@media screen and (max-width: 400px) {
  .productImageWrapper {
    width: 250px;
  }
  .quantityContainer {
    width: 45%;
    font-size: 13px;
  }

  .quantityContainer i {
    font-size: 13px;
  }
}

@media screen and (max-width: 350px) {
  .quantityContainer {
    width: 48%;
  }
  .button {
    margin: 0;
    min-width: 48%;
    font-size: 11px;
    padding: 9px 0px;
  }
}
