.ProductContainer {
  width: 23%;
  margin: 0.5%;
  box-shadow: 0px 0px 3px 1px rgb(215, 215, 215);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.top {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  padding: 13px 0;
  position: relative;
}

.heartContainer {
  z-index: 1;
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff5b25;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.heartContainer i {
  font-size: 25px;
  color: #ff3535;
}

.imageWrapper {
  aspect-ratio: 1/1.5;
  height: 200px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
}
.image {
  height: 100%;
  width: 100%;
}

.maintainRatio {
  height: 100%;
  width: auto;
}

.bottom {
  padding: 10px;
  color: #474747;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  cursor: pointer;
}

.starContainer {
  margin: 5px 0;
  color: #8f8f8f;
}

.starContainer i {
  color: gold;
  margin-right: 3px;
}

.priceWrapper {
  display: flex;
  align-items: baseline;
}
.priceContainer {
  box-shadow: 0px 0px 3px 1px rgb(234 234 234);
  border-radius: 2px;
}

.discountPrice {
  color: #ff5b25;
  font-size: 20px;
  padding: 0 5px;
}

.actualPrice {
  text-decoration: line-through;
  margin: 0 5px;
  font-size: 13px;
}

.off {
  margin: 0 5px;
  font-size: 13px;
  color: #ff5b25;
}

.desc {
  color: #474747;
  margin-top: 10px;
}

.cartAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.quantity {
  padding: 5px;
  color: #ff5b25;
  border: 1px solid #ff5b25;
  border-radius: 4px;
  outline: none;
}

.cartAction i {
  font-size: 20px;
  color: #ff5b25;
  cursor: pointer;
}

.cartButton {
  background-color: #ff5b25;
  color: white;
  border: none;
  padding: 8px 5px;
  border-radius: 3px;
  cursor: pointer;
}

.edit {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 1px rgb(219, 219, 219);
  position: absolute;
  left: 0%;
  padding: 3px 5px;
  border-radius: 3px;
  color: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.edit i {
  color: #ff5b25;
  font-size: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 1500px) {
  .ProductContainer {
    width: 30%;
  }
}
@media screen and (max-width: 1150px) {
  .ProductContainer {
    width: 45%;
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .ProductContainer {
    width: 320px;
    margin: 10px;
  }
}
@media screen and (max-width: 500px) {
  .bottom {
    height: auto;
  }
  .ProductContainer {
    width: 100%;
    margin: 20px 0;
  }
  .cartButton {
    padding: 10px 15px;
    font-size: 13px;
  }
  .title {
    font-size: 14px;
  }
  .desc {
    font-size: 13px;
  }
  .cartAction i {
    font-size: 25px;
  }
  .starContainer {
    font-size: 13px;
  }
}
