.homeContainer {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  margin-top: 10vh;
}

.color {
  color: #ff5b25;
}

.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainHeading {
  font-size: 40px;
  font-family: "Arsenal", sans-serif;
  color: #474747;
  font-weight: 600;
}

.subHeading {
  font-weight: lighter;
  color: #255881;
  margin: 20px 0;
  font-size: 20px;
  z-index: -1;
  font-weight: 400;
}

.para {
  color: #474747;
  font-size: 20px;
  z-index: -1;
  font-weight: 300;
}

.searchBox {
  background-color: white;
  width: 100%;
  box-shadow: 0px 5px 4px 0px rgb(208 208 208);
  border: 1px solid #ff5b25;
  display: flex;
  align-items: center;
  margin-top: 100px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.searchBox input {
  flex: 0.8;
  display: inline-block;
  border: none;
  padding: 8px 0;
  padding-left: 10px;
  font-size: 20px;
  color: #474747;
}

.searchBox div {
  flex: 0.2;
  background-color: #ff5b25;
  color: white;
  text-align: center;
}
.searchBox div button {
  background-color: #ff5b25;
  color: white;
  font-size: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
  width: 100%;
}

.socialIcons {
  margin-top: 50px;
}

.socialIcons a i {
  font-size: 30px;
  color: #474747;
  margin-right: 25px;
  cursor: pointer;
}

.right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  position: relative;
}

.homeImage {
  width: 35%;
  height: auto;
  margin: 10px;
  border: 1px solid #ff5b25;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgb(181, 181, 181);
  z-index: -1;
}

.homeImage2 {
  transform: translateY(-50px);
}

.message {
  position: absolute;
  background-color: #1e1e1e;
  color: white;
  padding: 15px 30px;
  font-size: 22px;
  top: 50%;
  right: 25%;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px 3px rgb(172, 172, 172);
  z-index: -1;
}

.color2 {
  color: #ff5b25;
  font-size: 25px;
}

.color3 {
  color: #255881;
}

@media screen and (max-width: 1400px) {
  .homeContainer {
    margin-top: 12vh;
    height: 88vh;
  }
  .mainHeading {
    font-size: 32px;
  }
  .subHeading {
    font-size: 17px;
    margin: 10px 0;
  }
  .para {
    font-size: 17px;
  }
  .searchBox {
    margin-top: 70px;
    border-radius: 3px;
  }

  .searchBox div {
    flex: 0.3;
  }

  .searchBox div button {
    padding: 8px;
    font-size: 17px;
    font-weight: normal;
  }
  .searchBox input {
    flex: 0.7;
    padding: 6px 0;
    padding-left: 10px;
    font-size: 17px;
  }

  .socialIcons {
    margin-top: 30px;
  }
  .socialIcons a i {
    font-size: 25px;
    color: #474747;
    margin-right: 20px;
  }
  .message {
    padding: 13px 25px;
    font-size: 17px;
  }
  .color2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .homeContainer {
    padding: 0 7%;
  }
  .mainHeading {
    font-size: 28px;
  }
  .subHeading {
    font-size: 15px;
    margin: 7px 0;
  }
  .para {
    font-size: 15px;
  }
  .searchBox {
    margin-top: 50px;
  }

  .searchBox div button {
    padding: 8px;
    font-size: 15px;
  }
  .searchBox input {
    padding: 7px 0;
    padding-left: 10px;
    font-size: 15px;
  }

  .homeImage {
    width: 40%;
    margin: 7px;
  }
  .homeImage2 {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 1000px) {
  .left {
    width: 45%;
  }
  .right {
    width: 55%;
  }
  .homeImage {
    width: 40%;
  }
  .message {
    font-size: 14px;
    font-weight: normal;
  }
  .color2 {
    font-size: 15px;
  }
  .mainHeading {
    font-size: 25px;
  }
}

@media screen and (max-width: 820px) {
  .homeContainer {
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    margin-top: 12vh;
  }
  .left {
    align-items: center;
    width: 100%;
  }

  .mainHeading {
    font-size: 30px;
    margin-top: 5%;
    text-align: center;
  }
  .subHeading {
    text-align: center;
    font-size: 17px;
    margin: 10px 0;
  }

  .para {
    font-size: 17px;
    text-align: center;
  }

  .searchBox {
    position: absolute;
    top: 0;
    width: 75%;
    margin: 20px 0;
    border-radius: 5px;
  }

  .searchBox input {
    padding: 12px 0;
    padding-left: 10px;
    font-size: 17px;
  }

  .searchBox div button {
    padding: 12px 0;
    font-size: 17px;
  }

  .right {
    width: 100%;
    justify-content: center;
  }
  .homeImage {
    width: 350px;
  }
  .homeImage2 {
    display: none;
  }
  .socialIcons a i {
    font-size: 30px;
    margin: 22px;
  }

  .message {
    padding: 15px 30px;
    font-size: 15px;
    top: 50%;
    right: 12%;
  }
  .color2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .homeContainer {
    padding: 0 3%;
  }

  .mainHeading {
    font-size: 25px;
    margin-top: 3%;
  }
  .subHeading {
    font-size: 15px;
  }
  .para {
    font-size: 15px;
  }
  .socialIcons a i {
    font-size: 25px;
    margin: 15px;
  }
}

@media screen and (max-width: 650px) {
  .searchBox {
    width: 90%;
  }

  .homeImage {
    width: 80%;
  }

  .mainHeading {
    font-size: 20px;
    margin-top: 3%;
  }

  .message {
    padding: 10px 22px;
    top: 55%;
    right: 0%;
  }
}

@media screen and (max-width: 400px) {
  .homeContainer {
    padding: 0 4%;
  }
  .mainHeading {
    font-size: 18px;
    margin-top: 13%;
  }

  .subHeading {
    font-size: 14px;
    margin: 15px 0;
  }
  .para {
    font-size: 14px;
  }
}
